@import url(http://db.onlinewebfonts.com/c/07689d4eaaa3d530d58826b5d7f84735?family=Montserrat);
@font-face {font-family: "Montserrat";
    src: url("http://db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.eot");
    src: url("http://db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/07689d4eaaa3d530d58826b5d7f84735.svg#Montserrat") format("svg");
}
@font-face {
    font-family: 'loraregular';
    src: url('../fonts/lora-regular-webfont.eot');
    src: url('../fonts/lora-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lora-regular-webfont.woff2') format('woff2'),
         url('../fonts/lora-regular-webfont.woff') format('woff'),
         url('../fonts/lora-regular-webfont.svg#loraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1{
	font-size:30px;
    font-weight:bold;
	padding-bottom:20px;
	text-transform:uppercase;
 }
 h3{
	font-size:17px; 
	 text-transform:uppercase; 
	 }
body{
	font-family: "Montserrat";
	color:#57585c;
	}
#body{
	background:#f2f2f2;
}
.line{
	border-right:1px solid #fff;
	padding:0px 0px;	
	}
.logo h3{
	    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
span.icon-bar{
	background:white;
}
.banner_tab0_img{
	position:relative;
	background: url(../images/banner.jpg) no-repeat ;
	/*background-size:100% auto;*/
	background-position: center center;
	width: 100%;
    text-align: center;
	height:689px;
	background-size:cover;
	}
.banner_tab1_img{
	position:relative;
	background: url(../images/banner1.jpg) no-repeat ;
	/*background-size:100% auto;*/
	background-position: center center;
	width: 100%;
    text-align: center;
	height:689px;
	background-size:cover;
	}
.banner_tab2_img{
	position:relative;
	background: url(../images/banner2.jpg) no-repeat ;
	/*background-size:100% auto;*/
	background-position: center center;
	width: 100%;
    text-align: center;
	height:689px;
	background-size:cover;
	}
.banner_tab3_img{
	position:relative;
	background: url(../images/banner3.jpg) no-repeat ;
	/*background-size:100% auto;*/
	background-position: center center;
	width: 100%;
    text-align: center;
	height:689px;
	background-size:cover;
	}
.Tabs{
	position: absolute;
    top: 30%;
    color: white;
}
.tab-content{
	float:left;
	text-align:left;
	width:100%;
}
.tab-content  .h3{
	font-family:'lora';
	font-style:italic;
	
}
.title {
    font-size: 23px;
    text-transform: uppercase;
}

.form{
	color: #999999 !important;
    background-color: #fff !important;
    border: 1px solid #999999 !important;
    text-transform: uppercase;	
	height:46px !important;
	border-radius:0px !important;
}
button.submit.button {
    width: 100%;
    background: #00a99e;
    border: 1px solid #00a99e;
    padding: 12px;
	color:white;
}
.icons{
	margin:0 12%;
	padding-bottom:20px;
}
.step{
	margin-top:30px;
}
ul.nav.nav-pills>li{
	border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0px 15px;
    background: #886895;
    margin: 5px 9px 5px 0px;
    color: white;
}
.nav-pills>li>a{
	color:white;
}
ul.nav.nav-pills>li.active, ul.nav.nav-pills>li:hover{
	padding: 0px 15px;
	 background: #00a99e;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color:transparent !important;
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color:transparent !important;
}
.ask-button {
    margin-top: 20px;
}
.ask-button a {
    background: #00a99e;
    color: white;
    padding: 11px 18px;
    margin-top: 20px;
    border-radius: 4px;
}




.bg, .bg_lightpurple, .bg_purple, .bg_lightpurple {position:relative;}
/* Big Triangle */
svg.bot_triangle {
	pointer-events: none;
	position:absolute;left:0;right:0;bottom:-25px; height:25px; z-index:1;
}

.bot_triangle path.white {
	fill: #fff;
	stroke: #fff;
	stroke-width: 0;
}
.bot_triangle path.fade_white {
	fill: #f2f2f2;
	stroke: #f2f2f2;
	stroke-width: 0;
}
.bot_triangle path.purple {
	fill: #886895;
	stroke: #886895;
	stroke-width: 0;
}

.sections{
	padding:75px 0 50px 0px;
	
	}
.sections_white {padding:50px 0px;}
.text{
	font-family:'lora';
	font-style:italic;
	color:#10ada7;
	font-size:16px;
	}
.division{
	padding-top:50px;
	padding-bottom:20px;	
	}
.bg_lightpurple{
	background:#f2f2f2;	
	}
.read_more{
	padding:6px 20px !important;
	background:#886895;
	color:white;
	border-radius:13px;
	margin:10px;
	text-transform: uppercase;
	}
.read_more a{
	color:white;
	}
.book_appointment{
	background:#10ada7;
	padding:6px 20px !important;
	border-radius:13px;
	margin:10px;
	text-transform:uppercase;
	}
.book_appointment a{
	color:white;
	}
.unit{
	background:url(../images/categories.jpg)no-repeat;
	width:100%;
	display: inline-block;
    text-align: center;
    width: 355px;
    padding: 75px 33px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform:uppercase;
    margin: 7px;
    font-size: 18px;
}

.categories {
    margin: 30px 0px 20px;
}
.categories .list-inline>li {padding-right: 0;  padding-left: 0;}
.bg_purple{
	background:#886895;
	color:white;
}
small{
	font-family:'lora' !important;
	font-style:italic !important;
	color:white !important;
	margin-top:20px;
}

.bg_image{
	background:url(../images/bg_image.jpg)no-repeat;
	background-color:#000;
	background-size:cover;
	position:relative;
	color:white;	
}
.footer{
	background:#333333;
	color:white;
	padding:60px 0px;
	border-top:10px solid #886895;
}
.footer_heading{
	color:#10ada7;
	font-size:17px;
	padding:30px 0px;
	font-weight:bold;
	text-transform:uppercase;
}
.footer .list-unstyled>li{
	padding:5px 0px;
}
.footer .list-unstyled>li>a{
	color:#fff;
	
}
#font_icons {
    color: #10ada7;
    font-size: 20px;
}
.subscribe{
	background:#886895;
	text-transform:uppercase;
}
.social_icons{
	padding:2px 0px;
}
.social_icons>li>a{
	color:white;
	font-size:20px;	
}
.copyright{
	background:#886895;
	color:white;
	padding:15px 0px 5px;
	}
	


/*doctor_page*/
#body{
	background:#f2f2f2;
}

.input_section{
	position: fixed;
    padding: 10px 0px 25px;
    width: 100%;
    z-index: 1;
    background: rgba(136,104,149,.3);
}
.staff {
    border: 1px solid #ddd;
	margin-bottom:50px;
	background:#fff;
	padding-top: 19px;
}
.staff_image img {
    width: 84px;
    height: 84px;
}

.social {
    /*padding: 20px;*/
    border: 1px solid #ddd;
    border-left: 0px;
	border-bottom:0px;
}
.social img{
	height:69px;
}
.social1 img{
	height:69px;
}
.social1 {
    /*padding: 20px;*/
    border: 1px solid #ddd;
    border-left: 0px;
	border-bottom:0px;
	border-right:0px;	
}
.buttons .btn {
	padding: 10px 0px;
    background: #fcf8e3;
	border-left:1px solid #ddd;
	border-radius:0px;
	border-top: 1px solid #ddd;
	text-transform: capitalize;
	
}
.staff_right {
   /* border-bottom: 1px solid #ddd;*/
    padding-bottom:12px;
}

ul.about_doctors li{
	padding:10px  0px;
}
ul.about_doctors li.name{
	text-transform:uppercase;
}
.doctor_service{
}
ul.doctor_service> li {
	padding: 9px 12px;
    margin: 10px 1px;
    background: #886891;
    border-radius: 19px;
    text-transform: uppercase;

}
ul.doctor_service> li> a{
	color:white;
	font-size:12px;
}
ul.doctor_service> li> a:hover{
	text-decoration:none;
}
ul.doctor_service> li:hover{
	background:#00a99e;
}
.fliter{
	 border: 1px solid #ddd;
	 padding:15px;
	 background:#fff;
}
.wrapper{
	padding-top:70px;
}
.call_section{
	background:#f9f9f9;
	padding:40px 0px 30px;
}
.head_line{
	border: 1px solid #886891;
    width: 59px;
    margin: 0px auto;
}
.map_section .address{
	margin-top:15%;
}
/*health tips*/
.health-tab{
	background:#fff;
	box-shadow: 0px 0px 4px #ccc;
	padding:20px;
	
	margin-bottom:20px;
}
.health-tab img{
	width:100%;
	height:auto;
}
.health-listing{
	background:#fff;
	padding:20px;
}
.docotrs-detail{
	border-bottom: dotted #ddd;
    margin: 2px;
}
.health-listing  img{
	width:100%;
}
.docotrs-detail img{
	width:80px;
	height:80px;
}
div#stafflist1 {
    margin-left: 0px !important;
}